.bargraph {
    width: 100%;
}
/*overriding the recharts generated styles*/
.recharts-cartesian-axis-tick-value {
    font-size: 12px;
    color: rgba(35, 31, 32, 0.9);    
}
.recharts-bar-rectangles {
    opacity: 0.7;
}
.recharts-legend-item-text {
    color: #231f20;
    font-size: 12px;
    text-align: left;
}
.recharts-legend-item path {
    opacity: 0.7;
}
line {
    stroke: #e1e1e1;
    opacity: 0.7;
}