@media screen and (min-width: 992px) {
  .main {
    margin-top: 35px; } }

@media screen and (max-width: 992px) {
  .main {
    margin-top: 15px; } }

.graphs {
  width: 100%; }
  @media screen and (min-width: 992px) {
    .graphs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 60px; }
      .graphs .bargraph:first-of-type {
        padding-right: 40px; } }
  @media screen and (max-width: 991px) {
    .graphs {
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 0; }
      .graphs .bargraph {
        margin-bottom: 35px; } }

.device-tables {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    .device-tables {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .device-tables .text-table {
        width: 100%; }
        .device-tables .text-table:nth-child(2) {
          margin: 0 40px; } }
  @media screen and (max-width: 1200px) {
    .device-tables {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
      .device-tables .text-table {
        width: 100%;
        margin-bottom: 35px; } }

@media screen and (max-width: 991px) {
  .table-responsive {
    display: table; } }

.table th, .table td {
  padding: 0 15px 0 15px;
  vertical-align: middle;
  height: 30px;
  color: #231f20;
  font-size: 12px;
  text-align: left;
  font-weight: normal; }

.table thead th {
  vertical-align: middle;
  border-bottom: none;
  background-color: rgba(67, 170, 220, 0.1); }

.thead-light tr th {
  border-top: none; }

.text-table .thead-light tr th:last-of-type {
  text-align: right; }

.text-table .table td:last-of-type {
  text-align: right; }

.text-table .thead-light tr th:nth-child(2) {
  text-align: center; }

.text-table .table td:nth-child(2) {
  text-align: center; }

.text-table.color-table .thead-light tr th:not(:first-of-type) {
  text-align: center; }

.text-table.color-table .table td div {
  text-align: center;
  margin: 0 auto; }

.color-table .circle {
  height: 10px;
  width: 10px;
  border-radius: 100%; }
  .color-table .circle.orange {
    background: #F57E4D; }
  .color-table .circle.yellow {
    background: #FDE63E; }
  .color-table .circle.green {
    background: #60C88F; }

/*overriding the recharts generated styles*/
.recharts-cartesian-axis-tick-value {
  font-size: 12px;
  color: rgba(35, 31, 32, 0.9); }

.recharts-bar-rectangles {
  opacity: 0.7; }

.recharts-legend-item-text {
  color: #231f20;
  font-size: 12px;
  text-align: left; }

.recharts-legend-item path {
  opacity: 0.7; }

line {
  stroke: #e1e1e1;
  opacity: 0.7; }
