.main {
    @media screen and (min-width: 992px) {
        margin-top: 35px;        
    }
    @media screen and (max-width: 992px){
        margin-top: 15px;
    }
}    
.device-tables {
    width: 100%;
    @media screen and (min-width: 1200px){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .text-table {
            width: 100%;
            &:nth-child(2) {
                margin: 0 40px;
            }
        }
    }
    @media screen and (max-width: 1200px){
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .text-table {
            width: 100%;
            margin-bottom: 35px;
            @media screen and (max-width: 991px){
                // display: inline;
            }
        }
    }
}
.table-responsive {
    @media screen and (max-width: 991px) {
        display: table;
    }
}
.table th, .table td {
    padding: 0 15px 0 15px;
    vertical-align: middle;
    height: 30px;
    color: #231f20;
    font-size: 12px;
    text-align: left;
    font-weight: normal;        
}
.table thead th {
    vertical-align: middle;
    border-bottom: none;
    background-color: rgba($color: #43aadc, $alpha: 0.1);
}
.thead-light tr th{
    border-top: none;
}
.color-table {
    .circle {
        height: 10px;
        width: 10px;
        border-radius: 100%;
        &.orange {
            background: #F57E4D;
        }
        &.yellow {
            background: #FDE63E;            
        }
        &.green {
            background: #60C88F;            
        }
    }
}