.search {
  height: 60px;
  background-color: #2296d1;
  z-index: 2;
  width: 100%;
  box-shadow: 0 2px 1px 1px rgba(183, 183, 183, 0.7); }

.navbar-brand {
  margin-right: 30px; }

a:not([href]):not([tabindex]) {
  color: white; }

.search.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.searchbar {
  display: inherit; }

.form-inline .mr-sm-2 {
  margin-right: 0.2rem !important; }

.form-inline .form-control {
  height: 40px;
  color: #8b8b8b;
  border-radius: 10px;
  background-color: #e1e1e1; }

.form-inline .btn-outline-success {
  height: 40px;
  border-radius: 10px;
  cursor: pointer; }

.btn {
  background-color: #247fae;
  opacity: 0.8;
  color: white;
  border: none;
  cursor: pointer; }
  .btn:hover {
    background-color: #1c6185; }

.btn-group {
  border-radius: 10px; }
  .btn-group .btn.btn-secondary:first-of-type {
    background-color: #1c6185;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px; }
  .btn-group .btn.btn-secondary:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }

@media screen and (min-width: 992px) {
  a:not([href]):not([tabindex]) {
    font-size: 24px; }
  .form-inline .form-control {
    font-size: 14.2px;
    width: 309px; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  a:not([href]):not([tabindex]) {
    font-size: 16px; }
  .navbar-brand {
    margin-right: 15px; }
  .form-inline .form-control {
    font-size: 13px;
    width: 250px; } }

@media screen and (max-width: 768px) {
  a:not([href]):not([tabindex]) {
    display: none; }
  .navbar-brand {
    margin-right: 0; }
  .search {
    height: 50px; } }

@media screen and (max-width: 576px) {
  .form-inline .form-control {
    display: none; } }
